{% extends 'base.html.twig' %}

{% block title %}Hello RegistrierungsController!{% endblock %}

{% block body %}
<br>
<div class="container">
<h1>Registrierung</h1>
{{form(regform)}}
</div>
{% endblock %}
